*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
@font-face {
  font-family: "google-font";
  src: url(../src/assets/fonts/PlaywriteAUVIC-VariableFont_wght.ttf),
  url(../src/assets/fonts/static/PlaywriteAUVIC-ExtraLight.ttf),
  url(../src/assets/fonts/static/PlaywriteAUVIC-Light.ttf),
  url(../src/assets/fonts/static/PlaywriteAUVIC-Regular.ttf),
  url(../src/assets/fonts/static/PlaywriteAUVIC-Thin.ttf);

}
body{ 
  font-family: "google-font";
  background:linear-gradient(gray 20%,rgb(150,150,150));
  background-repeat: no-repeat;
  background-size: cover;
  height: 170vh;
  padding: 4rem 1rem;
}
.title{
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #274C77;
  margin-top: 2rem;
  padding: 0;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.title .child{
  transition:  all ease-in-out 1s ;
  -webkit-transition:  all ease-in-out 1s ;
  -moz-transition:  all ease-in-out 1s ;
  -ms-transition:  all ease-in-out 1s ;
  -o-transition:  all ease-in-out 1s ;
}
.title .child:hover{ 
  border-bottom: 1px solid #DC3545;
}
.Books{ 
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 3rem 0;
  
}
.book3{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
.book3 input{
  background-color: transparent;
  color: whitesmoke;
  border: 1px solid black;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
::placeholder{ 
  color: whitesmoke;
  padding-left: 1rem;
}
.book2{
  padding-bottom:1rem ;
  transition: all ease-in-out 1s;
  -webkit-transition: all ease-in-out 1s;
  -moz-transition: all ease-in-out 1s;
  -ms-transition: all ease-in-out 1s;
  -o-transition: all ease-in-out 1s;
}
.book2:hover{ 
  border-bottom: 1px solid #00000C;
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
